public ModelMethod signOut(ServletEntity entity) throws Exception{
    
        ModelMethod model=new ModelMethod();
        model.setToInvalidate(true);// qui suprime les sessions
       
        return model;
    
}